/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* Body Styles */
body {
  background: #101010;
}

/* Scrollbar Styles */
body::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 0.4rem;
}

body::-webkit-scrollbar {
  background: #101010;
  width: 0.4rem;
}

/* Navigation Styles */
nav {
  position: fixed;
  top: 0;
  background: #101010;
  box-shadow: 0 0.2rem 2rem #151515;
  padding: 0.8rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1rem;
  z-index: 8;
}

/* Logo Styles */
.logo {
  display: flex;
  justify-content: end;
  align-items: center;
  min-width: 11rem;
  cursor: pointer;
}

.logo h2 span {
  color: #b03636;
}

.logo svg {
  width: 3.2rem;
  height: 3.2rem;
}

/* Navigation List Styles */
.navList {
  display: flex;
  gap: 4rem;
  list-style: none;
}

/* Dropdown List Title Styles */
.titleDesplegList {
  font-weight: lighter;
  font-size: 1rem;
  transition: 0.2s;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.titleDesplegList:hover {
  scale: 1.1;
}

/* Link Styles */
.navList li a {
  text-decoration: none;
  color: #f2f2f2;
}

/* PassMovies Section Styles */
.passMovies {
  position: relative;
  padding: 14rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #151515, transparent);
  flex-direction: column;
}

.passMovies h1 {
  color: #f2f2f2;
  font-size: 4rem;
  margin-bottom: 0.2rem;
  text-shadow: 0 0 2px #f2f2f2;
}

.passMovies h1 span {
  color: #b03636;
  text-shadow: 0 0 8px #b03636;
}

.passMovies p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #c0c0c0;
}

.passMovies input {
  width: 25rem;
  height: 2.5rem;
  background-color: #000000a1;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 0.4rem;
  border-bottom: 1px solid #f2f2f2a1;
  color: #f2f2f2;
}

.passMovies input::placeholder {
  color: #6d6d6d;
}

/* Dropdown List Styles */
.dropdownList {
  position: relative;
}

.navList li:hover .contentSubList {
  transition: 0.8s;
  height: 28rem;
}

.contentSubList {
  overflow: hidden;
  min-width: 26rem;
  height: 0rem;
  position: absolute;
  left: -25%;
}

/* Dropdown List Content Styles */
.dropdownList .subList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
  background: #202020;
  padding: 0.8rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 1rem;
  list-style: none;
}

.subList::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: #202020;
  transform: rotate(45deg);
  top: -0.4rem;
  left: 3.6rem;
  position: absolute;
}

.dropdownList .subList li {
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background: #151515;
  font-weight: lighter;
  transition: 0.2s;
  cursor: pointer;
}

.dropdownList .subList li:hover {
  background-color: #3a3a3a;
  scale: 1.04;
}

/* Login Box Styles */
.boxLogin {
  display: flex;
  justify-content: end;
  min-width: 11rem;
}

/* Login Account Box Styles*/
.boxAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}

.boxAccount:hover {
  background: #b03636;
}

.boxAccount p {
  text-transform: capitalize;
}

.boxAccount img {
  background: #f2f2f2;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

/* Login Button Box Styles */
.boxBtnLogin a {
  text-align: center;
  padding: 0.6rem 2.4rem;
  font-size: 0.85rem;
  border-radius: 0.8rem;
  background: #202020;
  color: #f2f2f2;
  transition: 0.2s;
  text-decoration: none;
  width: 8rem;
}

.boxBtnLogin a:hover {
  cursor: pointer;
  scale: 1.06;
  border: solid 2px #f2f2f2;
}

/* Card Styles */
.card {
  width: 12.6rem;
  height: 20rem;
  transition: 0.2s;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.card:hover {
  scale: 1.02;
}

.cardTitle {
  text-align: center;
  color: #f2f2f2;
  text-transform: capitalize;
}

.card:hover .cardTitle {
  font-size: 1.1rem;
}

/* Trailer Section Styles */
.movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  justify-items: center;
  padding: 0 2rem 4rem 2rem;
  background: linear-gradient(0deg, #101010, #151515);
}

/* Index Video Styles */
.videoIndex {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.cardForAdmin {
  position: relative;
}

.cardForAdmin:hover img {
  filter: brightness(0.4) blur(1px);
  scale: 1.02;
}

.cardForAdmin div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: calc(50% - (137.6px / 2));
  left: calc(50% - (114.19px / 2));
  gap: 2rem;
  z-index: 2;
}

.cardForAdmin img {
  width: 202px;
  height: 299px;
  cursor: default;
}

.btnOfCard {
  padding: 0.8rem 1rem;
  background: #101010a1;
  color: #f2f2f2;
  text-decoration: none;
  border: 2px solid #f2f2f2;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.btnOfCard:hover {
  background: #101010e1;
  scale: 1.02;
}

.boxBtnAdd {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 4;
}

.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2.4rem;
  color: #f2f2f2;
  width: 3.8rem;
  height: 3.8rem;
  border: 2px solid #f2f2f2;
  box-shadow: 0 0 1rem #101010;
  background: #b03636;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.btnAdd:hover {
  box-shadow: 0 0 1rem #b03636;
  scale: 1.04;
}